body {
	margin: 0px;
	padding: 0px;
	background-color: #F9F9F9;
	color: #000000;

	font-family: Bitstream Vera Sans, sans-serif;
}

a:link    { color: #2b5e82; }
a:visited { color: #000; }
a:link img { border: 0; }

.header {
	background: #F8F8F8;
	border-bottom: 1px #999999 solid;
	height: 80px;
}

.logo {
	float: left;
	padding: 10px 10px 0px 20px;
}

.title {
	font-size: x-large;
	font-weight: bold;
	margin-top: 25px;
	float: left;
}

.datebox,
.sidebox {
	box-sizing: border-box;
}

.datebox {
	border: 2px solid #fff;
	border-left: 0;
	border-radius: 0 4px 4px 0;
	padding: 4px 4px 4px 5px;
	margin: 16px 1rem 1px 0;
	width: 100%;
	clear: both;
	font-weight: bold;
	color: #FFFFFF;
	background: #3B80AE;
	outline: 1px solid #3B80AE;
}

.blog-entry {
	padding: 15px 0px 0px 20px;
	clear: both;
	word-wrap: break-word;
}

.blog-header {
	padding: 2px 6px 2px 6px;
	margin: 4px;
	background: #EEEEEE;
	border: 1px #7D7D7D solid;
	font-weight: bold;
}

.blog-header a:link {
	text-decoration: none;
	color: black;
}

.blog-header a:visited {
	text-decoration: none;
	color: black;
}

.blog-body {
	margin-left: 20px;
	margin-right: 20px;
	font-size: medium;
}

.blog-body img,
.blog-body video {
	max-width: 100%;
	height: auto;
}

.blog-body div {
	max-width: 100%;
}

.blog-body pre {
	overflow: auto;
}

.blog-body div,
.blog-body table {
	overflow-x: auto;
}

.blog-body table {
	display: block;
}

.blog-footer a {
	text-decoration: none;
	color: #999999;
	font-size: small;
}

.sidebox {
	background: #DEDEDE;
	border: 3px solid #fff;
	border-radius: 9px;
	padding: 6px;
	margin: 4px;
	outline: 3px solid #DEDEDE;
}

.sidebox-title {
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

.copyright {
	border-top: 1px #999999 dashed;
	padding-top: 5px;
	margin: 40px 20px 20px 20px;
	font-size: x-small;
	color: #666666;
}

.blog {
	margin-right: 15px;
	padding-bottom: 30px;
}

.side {
	margin: 0 15px;
}

@media (min-width: 650px) {
	.blog {
		margin-right: 270px;
		padding-bottom: 0;
	}

	.side {
		position: absolute;
		right: 10px;
		top: 100px;
		width: 240px;
		margin: 0;
	}
}
